<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> <%= pageTitle %></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <a href="/"> <img class="logo" src="/images/logoTransparentBG.png" alt=""></a>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">DOMOV</a></li>
        <li id="recipes"><a href="/recipes">RECEPTY</a></li>
      </ul>
    </div>
  </nav>

<body>
  <div class="container">
