<%- include("partials/header"); -%>

<h1>Online Kuchársky Denník</h1>
<p>Predstav si. Nedeľný obed u babky....</p>
<p>Babka varí, chystá a pomedzi to vysvetľuje, ako správne pripraviť jej legendárny zeleninový vývar.
Ty si ho rovno zapíše do svojej online kuchárky, pretože takýto recept predsa nikde inde nenájdeš.</p>
<p>Lacus vel facilisis volutpat est velit egestas dui id ornare. Semper auctor neque vitae tempus quam. Sit amet cursus sit amet dictum sit amet justo. Viverra tellus in hac habitasse. Imperdiet proin fermentum leo vel orci porta. Donec ultrices tincidunt arcu non sodales neque sodales ut. Mattis molestie a iaculis at erat pellentesque adipiscing. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Adipiscing elit ut aliquam purus sit amet luctus venenatis lectus. Ultrices vitae auctor eu augue ut lectus arcu bibendum at.</p>
<button type="button" class="btn btn-default compose-btn"><a href="/compose">Pridať nový recept</a></button>


<%- include("partials/footer"); -%>
